.Desktop__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.Desktop__h1 {
  color: white;
}

.Tablet__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.Tablet__h1 {
  color: white;
}

.Mobile__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.Mobile__h1 {
  color: white;
}